.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
}

.topNav .title{
    letter-spacing: 0.4rem;
    font-size: large;
    line-height: 24px;
}

.topNav .info button{
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 50%;
    height: 3.4rem;
    cursor: pointer;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    display: flex;
}
