@font-face {
  font-family: 'Helveticaneue';
  src: url('fonts/helveticaneue.ttf');
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #6C9BCF;
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-warning: #F7D060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: rgb(26, 26, 26);
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}


body {
  letter-spacing: -.5px;
  line-height: 20px;
  width: 100vw;
  height: 100vh;
  font-family: 'Helveticaneue', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: scroll;
  color: var(--color-white);
  background-color: var(--color-background);
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar{
  width: 0;
  height: 0;
  display: none;
}

@media screen and (max-width:768px) {
  
  .topNav {
    justify-content: center;
  }

  .topNav .info{
    display: none;
  }
  
}